annotated-types
attrs
bel-resources
bioregistry
certifi
charset-normalizer
click
click-plugins
curies
dnspython
email-validator
humanize
idna
jsonschema
jsonschema-specifications
markdown-it-py
mdurl
more-click
more-itertools
multisplitby
networkx<3.1        # fixes Python 3.14+ dataclass issues; safe for 3.12+
numpy
pandas
pillow
psycopg2-binary
pybel
pydantic
pydantic_core
Pygments
pyparsing
pystow
python-dateutil
pytz
ratelimit
rdkit
referencing
requests
requests-file
rich
rpds-py
shellingham
six
SQLAlchemy
tabulate
tqdm
typer
typing-inspection
typing_extensions
tzdata
urllib3

